
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body 
{    
    background-color: rgb(201, 217, 233);   
    font-family: 'Montserrat', sans-serif;    
}

.contenedor-formulario
{
    display: grid;     
    grid-template-columns: 1fr 1fr;    
    grid-gap: 10px;
}

.formulario
{      
    display: grid;  
    height: 200px;
    background-color: rgb(199, 228, 245);
}

#tabla
{    
    border: 1px solid; 
    margin-top: 10px;;  
}

#tabla th
{
    padding: 10px;
}

#tabla td
{
    padding: 10px;
}










