
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body 
{   
    font-family: 'Montserrat', sans-serif;    
}

.contenedor-formulario
{
    display: grid;     
    grid-template-columns: 1fr 1fr;    
    grid-gap: 10px;
}

.formulario
{      
    display: grid;  
    height: 200px;
    background-color: rgb(173, 217, 241);
    border-radius: 5px;
}

.formulario input
{
    border-radius: 3px;
    font-size: 16px;
}

.boton
{
    border-radius: 8px;
    font-size: 18px;
}

#tasa-mensual, #cantidad-meses
{
    background-color: gainsboro;
}

    #tabla
{    
    border: 1px solid; 
    margin-top: 10px;;  
}

#tabla th
{
    padding: 10px;
}

#tabla td
{
    padding: 10px;
}










